# Copyright (c) 2025 Sebastian Pipping <sebastian@pipping.org>
#
# Licensed under GNU Affero General Public License v3.0 or later
# SPDX-License-Identifier: AGPL-3.0-or-later

name: Enforce codespell-clean spelling

on:
  pull_request:
  push:
  schedule:
    - cron: '0 3 * * 5'  # Every Friday at 3am
  workflow_dispatch:

# Minimum permissions for security
permissions:
  contents: read

jobs:
  codespell:
    name: Enforce codespell-clean spelling
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.0

      - uses: codespell-project/actions-codespell@v2
        with:
          # "ource" is from "[d]ata [s]ource [n]ame" (file pytocron/_main.py)
          # Words need to be (1) separated by a comma and (2) all lowercase!
          ignore_words_list: ource
