# Copyright (c) 2025 Sebastian Pipping <sebastian@pipping.org>
#
# Licensed under GNU Affero General Public License v3.0 or later
# SPDX-License-Identifier: AGPL-3.0-or-later

name: Run the test suite

on:
  pull_request:
  push:
  schedule:
    - cron: '0 2 * * 5'  # Every Friday at 2am
  workflow_dispatch:

# Drop permissions to minimum for security
permissions:
  contents: read

jobs:
  run-tests:
    name: Run the test suite
    strategy:
      matrix:
        python-version: ['3.10', 3.13]  # no particular need for in-between versions
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
    - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run the test suite under coverage
      run: |
        set -x

        python3 --version

        python3 -m venv venv/
        source venv/bin/activate

        pip3 install .[tests]

        pytocron --version
        pytocron --help

        coverage run -m pytest -v -s
        coverage report
